{% extends "base.html" %}
{% block title %}
    <title>Login</title>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}
{% block content %}
    <form class="myForm" method="POST" action="">
        <div class="form-container">
            <h1>Login</h1>
            <label for="email">Email</label>
            <input type="text" name="email">


        <label for="password">Password</label>
        <input type="password" name="password">

        <button type="submit">Submit</button>
          <p>Don't have an account? Register <a href="{{ url_for('auth.register') }}">here</a></p>
      </div>
    </form>
{% endblock %}