{% extends "base.html" %}
{% block title %}
    <title>{{ deck.title }}</title>
{% endblock %}
{% block content %}
    <h1>{{ deck.title }}</h1>
    {% if view %}
    <a href="{{ url_for('edit.edit_deck', uuid=deck.uuid) }}">Edit</a>
    <a href="{{ url_for('delete.delete_deck', uuid=deck.uuid) }}">Delete</a>
    {% endif %}
    <div>
    {% if flashcards %}
    {% for flashcard in flashcards %}
        <div>
        <h3>{{ flashcard.title }}</h3>
        <div>{{ flashcard.term|safe }}</div>
        <div>{{ flashcard.definition|safe }}</div>
        <a href="{{ url_for('edit.edit_flashcard', uuid=flashcard.uuid) }}">Edit</a>
        <a href="{{ url_for('delete.delete_flashcard', uuid=flashcard.uuid) }}">Delete</a>
        </div>
    {% endfor %}
    {% endif %}
    </div>
    {% if deck.public == True %}
    <a href="{{ url_for('public.view_public_deck', uuid=deck.uuid) }}">View public</a>
    {% endif %}
{% endblock %}