.search-section{
  margin-bottom: 2%;
  padding-top: 1%;
}
.search-section > form > input{
  padding: 0.3%;
}
.search-section > form > *{
  margin-right: 0.5%;
}
.search-section > form > .query{
  width: 20%;
}
.submit{
  background-color: #0E6BA8;
  color: white;
}