.title-input{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
    margin-bottom: 2%;
    padding: 1%;
    height: 10%;
    font-size: x-large;
}
.collection-select{
  width: 10%;
  float: right;
  margin-top: 1%;
  margin-right: 10%;
  padding: 0.5%;
}
.submit{
  margin-top: 1%;
}
.create-collection{
  background-color: #0E6BA8;
  color: white;
  text-decoration: none;
  width: 10%;
  text-align: center;
  padding: 5px;
  border-radius: 500px;
  margin-right: 2%;
}