body{
    margin: 0;
}
a{
    text-decoration: none;
}
nav{
    justify-content: space-between;
    background-color: #FFC05C;
    display: flex;
}
.top-bar{
    flex-grow: 1;
}
.site-name{
    display: flex;
    padding: 1%;
    font-size: 30px;
    flex-grow: 1;
}
.account{
    display: flex;
    flex-grow: 1;
    padding: 1%;
    font-size: 20px;
}
.account > span{
    padding: 5%;
}

nav > ul{
    display: flex;
    list-style: none;
    flex-grow: 15;
    font-size: 20px;
}
.search{
    display: flex;
    flex-grow: 10;
}
.search > form{
    align-self: center;
}
.search > form{
    width: 100%;
}
.search > form > .query{
    width: 50%;
}
nav > ul > li{
    padding: 0.5%;
    display: block;
    align-self: center;
}
.create-bar{
    background-color: white;
    border-bottom: 1px solid black;
    display: flex;
}
.create-bar > ul{
    list-style: none;
    display: flex;
    flex-grow: 1;
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 7%;
}
.create-bar > ul > li{
    padding: 0.5%;
    background-color: #34AD6C;
    text-align: center;
    border-radius: 500px;
    margin-right: 2%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    float: left;
}
.flash-container{
    background-color: #c7edcb;
    animation: cssAnimation 0s 5s forwards;
}
.flashes{
    padding: 1%;
    list-style: none;
    margin: 0;
}
@keyframes cssAnimation {
  to   {
      display: none;
      height: 0;
      visibility: hidden;
  }
}
section{
    display: flex;
}
aside{
    width: 15%;
    background-color: #a16e54;
    padding: 1%;
    margin-top: 1%;
}
/*aside > div{*/
/*    font-size: 20px;*/
/*}*/
main{
    flex-grow: 1;
}
.content{
    margin-left: 2%;
    padding: 1%;
}
.accordion {
    color: #444;
    background-color: #a16e54;
    cursor: pointer;
    padding-bottom: 10px;
    margin-right: 30%;
    width: 10%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.active, .accordion:hover {

}
.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
    float: left;
  transition: max-height 0.2s ease-out;
}
.panel > ul{
    list-style: none;
}

.collection{
    width: 100%;
    float: left;
}
.collection_link{
    float: left;
    color: #fff;
    text-decoration: none;
}
.collection_title{
    margin-bottom: 5%;
    padding: 5%;
    font-size: x-large;
    border-bottom: 1px solid black;
}

/*.search {*/
/*  width: 80%;*/
/*  position: relative;*/
/*  display: flex;*/
/*}*/

/*.searchTerm {*/
/*  width: 70%;*/
/*  border: 3px solid #00B4CC;*/
/*  border-right: none;*/
/*  padding: 3%;*/
/*  height: 20px;*/
/*  border-radius: 5px 0 0 5px;*/
/*  outline: none;*/
/*  color: #9DBFAF;*/
/*}*/

/*.searchTerm:focus{*/
/*  color: #00B4CC;*/
/*}*/

/*.searchButton {*/
/*  padding: 1.5%;*/
/*  border: 1px solid #00B4CC;*/
/*  background: #00B4CC;*/
/*  text-align: center;*/
/*  color: #fff;*/
/*  border-radius: 0 5px 5px 0;*/
/*  cursor: pointer;*/
/*  font-size: 15px;*/
/*}*/

/*!*Resize the wrap to see the search bar change!*!*/
/*.wrap{*/
/*    margin-top: 10px;*/
/*  width: 30%;*/
/*    float: right;*/
/*  transform: translate(-50%, -50%);*/
/*}*/
