<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    {% block extra_css %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
    {% block title %}
    {% endblock %}
</head>
<body>
<header>
    <div class="flash-container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </div>
<div class="top-bar">
     <nav>
         <div class="site-name"><span><a href="{{ url_for('root') }}">Site Name</a></span></div>
         <ul>
             <li><a href="{{ url_for('browse') }}">Browse</a></li>
         </ul>
     <div class="wrap">
       <form action="" class="search" method="get">
          <input type="text" class="searchTerm" placeholder="What are you looking for?">
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
         </button>
       </form>
    </div>
         <div class="authentication-link">
             {% if session['logged_in'] %}
             <a href="{{ url_for('auth.logout') }}">Logout</a>
             {% endif %}
         </div>
     </nav>
    <div class="create-bar">
        <ul>
            <li class="create-button"><a href="{{ url_for('create_note') }}">New Note</a></li>
            <li class="create-button"><a href="{{ url_for('create_flashcard') }}">New Flashcard</a></li>
            <li class="create-button"><a href="{{ url_for('create_collection') }}">New Collection</a></li>
        </ul>
    </div>
</div>
</header>
<section>
{% if collections %}
<aside>
    <div class="collection_title">Collections</div>
    {% for collection in collections %}
        <div class="collection">
            <a href="{{ url_for('view_collection', uuid=collection.uuid) }}" class="collection_link">{{ collection.title }}</a>
            {% if get_resources(collection.id)[0] or get_resources(collection.id)[1] %}
                <button class="accordion"><i class="fa fa-caret-down"></i></button>
            {% endif %}
            <div class="panel">
            {% if get_resources(collection.id) %}
            <ul>
                {% for note in get_resources(collection.id)[0] %}
                    <li><a href="{{ url_for('view_note', uuid=note.uuid) }}">{{ note.title }}</a></li>
                {% endfor %}
                {% for deck in get_resources(collection.id)[1] %}
                    <li><a href="{{ url_for('view_deck', uuid=deck.uuid) }}">{{ deck.title }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
        </div>
    {% endfor %}
</aside>
{% endif %}
<main>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</main>
</section>
{% block extra_js %}
{% endblock %}
<script type="text/javascript" src="{{ url_for('static', filename='js/global.js') }}"></script>
</body>
</html>