<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
    {% block title %}
    {% endblock %}
</head>
<body>
<header>
    <div class="flash-container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </div>
<div class="top-bar">
     <nav>
         <div class="site-name"><span><a href="{{ url_for('root') }}">Site Name</a></span></div>
         <ul>
             <li>Browse</li>
         </ul>
         <div class="authentication-link">
             {% if session['logged_in'] %}
             <a href="{{ url_for('logout') }}">Logout</a>
             {% else %}
             <a href="{{ url_for('login') }}">Login</a>
             {% endif %}
         </div>
     </nav>
    <div class="create-bar">
        <ul>
            <li class="create-button"><a href="#">New Note</a></li>
            <li class="create-button"><a href="#">New Flashcard</a></li>
            <li class="create-button"><a href="{{ url_for('create_collection') }}">New Collection</a></li>
        </ul>
    </div>
</div>
</header>
<section>
{% if collections %}
<aside>
    <div class="collection_title">Collections</div>
    {% for collection in collections %}
        <div class="collection">
            <a href="{{ url_for('view_collection', uuid=collection.uuid) }}" class="collection_link">{{ collection.title }}</a>
            <button class="accordion"><i class="fa fa-caret-down"></i></button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
        </div>
    {% endfor %}
</aside>
{% endif %}
<main>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</main>
</section>
<script type="text/javascript" src="{{ url_for('static', filename='js/global.js') }}"></script>
</body>
</html>