<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
    {% block title %}
    {% endblock %}
</head>
<body>
<header>
    <div class="flash-container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </div>
<div class="top-bar">
     <nav>
         <div class="site-name"><span><a href="{{ url_for('root') }}">Site Name</a></span></div>
         <ul>
             <li>Browse</li>
         </ul>
     </nav>
    <div class="create-bar">
        <ul>
            <li class="create-button"><a href="new-note/">New Note</a></li>
            <li class="create-button"><a href="new-note/">New Flashcard</a></li>
            <li class="create-button"><a href="new-note/">New Collection</a></li>
        </ul>
    </div>
</div>
</header>
<section>
<aside>
    <div>Collections</div>
<button class="accordion">Section 1</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet</p>
</div>

<button class="accordion">Section 2</button>
<div class="panel">
    <p>Lorem ipsum dolor sit amet</p>
</div>

<button class="accordion">Section 3</button>
<div class="panel">
    <p>Lorem ipsum dolor sit amet</p>
</div>
</aside>
<main>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</main>
</section>
<script type="text/javascript" src="{{ url_for('static', filename='js/global.js') }}"></script>
</body>
</html>