{% extends 'base.html' %}
{% block extra_css %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create_flashcard.css') }}">
{% endblock %}
{% block title %}
    <title>New Flashcard</title>
{% endblock %}
{% block content %}
    {% if decks %}
        <form action="" method="post">
            <input class="title-input" type="text" name="title" placeholder="Title" />
            <select name="deck" class="deck-select">
                {% for deck in decks %}
                <option value="{{ deck.id }}">{{ deck.title }}</option>
                {% endfor %}
            </select>
            <div class="editor-container">
                <div class="editor">
                    <textarea class="term" name="term"></textarea>
                </div>
                <div class="editor">
                    <textarea class="definition" name="definition"></textarea>
                </div>
            </div>
            <div class="save-container">
                <input class="submit" type="submit" value="Save">
            </div>
        </form>
        {% else %}
            <p>Please create a deck before creating a flashcard</p>
            <a class="create-deck" href="{{ url_for('create_deck') }}">Create a deck</a>
    {% endif %}
{% endblock %}
{% block extra_js %}
{% if decks %}
<script>
      $('.term').summernote({
          tabsize: 1,
          placeholder: 'Term',
          height: 120,
          toolbar: [
              ['style', ['style']],
              ['font', ['bold', 'underline', 'clear']],
              ['color', ['color']],
              ['para', ['ul', 'ol', 'paragraph']],
              ['insert', ['link', 'picture']],
          ]
      });
      $('.definition').summernote({
          tabsize: 1,
          placeholder: 'Definition',
          height: 120,
          toolbar: [
              ['style', ['style']],
              ['font', ['bold', 'underline', 'clear']],
              ['color', ['color']],
              ['para', ['ul', 'ol', 'paragraph']],
              ['insert', ['link', 'picture']],
          ]
      });
    </script>
{% endif %}
{% endblock %}