{% extends 'base.html' %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create_collection.css') }}">
{% endblock %}
{% block title %}
    {% if edit %}
    <title>{{ collection.title }}</title>
    {% else %}
    <title>Create Note</title>
    {% endif %}
{% endblock %}
{% block content %}
{% if edit %}
    <h3>Edit Collection</h3>
    <form action="" method="POST">
    <input type="text" name="title" value="{{ collection.title }}" />
    <input type="submit" value="Submit" />
    <label class="switch">
        <input type="checkbox" name="public" {% if collection.public %}checked="checked"{% endif %}>
        <span class="slider round"></span>
    </label>
    </form>
{% else %}
    <h3>Create Collection</h3>
    <form action="" method="POST">
    <input type="text" name="title" />
    <input type="submit" value="Submit" />
    <label class="switch">
        <input type="checkbox" name="public">
        <span class="slider round"></span>
    </label>
    </form>
{% endif %}
{% endblock %}