{% extends 'base.html' %}
{% block title %}
    <title>{{ collection.title }}</title>
{% endblock %}
{% block content %}
    <h1>{{ collection.title }}</h1>
    <a href="{{ url_for('edit_collection', uuid=collection.uuid) }}">Edit</a>
    {% if notes %}
    <div>
    <h2>Notes</h2>
    {% for note in notes %}
        <div>
        <h3>{{ note.title }}</h3>
            <div>{{ note.content|safe }}</div>
        </div>
    {% endfor %}
    </div>
    {% endif %}
    {% if decks %}
    <div>
    <h2>Decks</h2>
    {% for item in decks %}
        <h3>{{ item.title }}</h3>
        <div>
        {% for flashcard in item.flashcards %}
        <h4>{{ flashcard.title }}</h4>
        <div>{{ flashcard.term|safe }}</div>
        <div>{{ flashcard.definition|safe }}</div>
        {% endfor %}
        </div>
    {% endfor %}
    </div>
    {% endif %}
{% endblock %}