.top-section{
    display: flex;
    border-bottom: 1px solid rgba(122, 128, 131, 0.6);
}
.title{
    display: flex;
}
.collection{
    border-right: 1px solid rgba(122, 128, 131, 0.6);
    padding: 1%;
    align-self: center;
    color: #7A8083;
}
.date{
    flex: 1;
    align-self: center;
    padding: 1%;
}
.options{
    flex: 3;
    align-self: center;
    padding: 1%;
}
.options > *{
    color: #7A8083;
    margin-right: 2%;
    margin-left: auto;
    order: 2;
}
.note-content{
    display: flex;
    flex: 1;
}
